In [2]:
import pandas as pd

,label,eiaid,name,is_default,startdate,enddate,latest_update,utility,sector,description,...,coincidentratestructure/period0/tier0unit,coincidentratestructure/period1/tier0max,coincidentratestructure/period1/tier0rate,coincidentratestructure/period1/tier0adj,coincidentratestructure/period1/tier0unit,coincidentratestructure/period2/tier0max,coincidentratestructure/period2/tier0rate,coincidentratestructure/period2/tier0adj,coincidentratestructure/period2/tier0unit,coincidentschedule
0,539f6a0aec4f024411ec8aa3,13799.0,MKEC - Interruptible Industrial Service,NaN,2010-01-14 01:00:00,NaN,2015-03-26 21:26:29,Prairie Land Electric Coop Inc,Industrial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,539f6a0aec4f024411ec8aa5,18449.0,Residential Three Phase Service,NaN,NaN,2014-01-01 06:00:00,2015-03-26 21:26:29,"Talquin Electric Coop, Inc",Residential,The minimum monthly charge shall be the higher...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,539f6a0aec4f024411ec8aa7,16610.0,"Commercial & Industrial Demand, Single Phase (...",NaN,2013-01-01 06:00:00,NaN,2015-03-26 21:26:29,"City of Scribner, Nebraska (Utility Company)",Commercial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,539f6a0aec4f024411ec8aad,12439.0,Irrigation,NaN,2013-11-01 00:00:00,NaN,2015-03-26 21:26:29,"Midstate Electric Coop, Inc",Industrial,* Off-Season Rates: Applies to irrigation pump...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,539f6a0aec4f024411ec8aaf,15159.0,Rg-2 Rural Residential Service Optional Time-o...,NaN,2011-12-22 01:00:00,2015-05-26 00:00:00,2015-07-28 12:40:51,"City of Plymouth, Wisconsin (Utility Company)",Residential,Commitment to Community Rider: Rg-2 Residenti...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
mixed_type_columns = [3, 5, 28, 362, 392, 397, 402, 407, 412, 417, 437, 442, 447, 452, 457, 472, 477, 482, 492, 497, 502, 507, 517, 522, 527, 532, 542, 547, 552, 557, 562, 567, 572, 577, 582, 587, 592, 597, 602, 607, 612, 617, 622, 627, 632, 637, 642, 647, 652, 655, 668]

dtype_dict = {col: str for col in mixed_type_columns}

openei_dummy = pd.read_csv('/Users/caseychens/Documents/stanford/summer24/we3/data/OpenEI data/91761.csv', dtype=dtype_dict)

data_dict = {
    'utility': [],
    'type': [],
    'assessed': [],
    'period': [],
    'basic_charge_limit (imperial)': [],
    'basic_charge_limit (metric)': [],
    'month_start': [],
    'month_end': [],
    'hour_start': [],
    'hour_end': [],
    'weekday_start': [],
    'weekday_end': [],
    'charge (imperial)': [],
    'charge (metric)': [],
    'units': [],
    'Notes': []
}

openei_dummy.head()